body {
	background-color: rgb(232,232,232);
	font-family: Georgia, "Times New Roman", Times,serif;
	font-size: small;
	margin: 0px;
}

h1 {
	font-size: 15px;
	letter-spacing: 1px;
	color: rgb(80,80,80);
	text-transform: uppercase;
}

h2 {
	font-size: 13px;
	letter-spacing: 1px;
	color: rgb(80,80,80);
}

h3 {
	font-size: 10px;
	letter-spacing: 1px;
	color: rgb(80,80,80);
}

section.javascript h2, .readmore.javascript h2{
	color:rgb(248,248,248);
}

p{
	letter-spacing: 1px;
	color: rgb(125,125,125);
}

header{
	text-align: center;
}

#allContent {
	width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-sizing: border-box; /*div宽度固定，不随添加内外边距而改变*/
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

nav{
	padding: 8px 0px 9px 0px;
	border-top: 1px solid #b7b6b6;
	border-bottom: 1px solid #b7b6b6;
	overflow: hidden;
	background: transparent;
}

ul {
	float: left;
	position: relative;
	left: 50%;
	margin: 0;
	padding: 0;
	background: transparent;
}

li{
	float: left;
	position: relative;
	right: 50%;
	display: block;
	margin: 0px;
	padding: 0 0 0 48px;
	font-size: 13px;
	letter-spacing: 1px;
	background: url("../images/nav-dot.png") 21px 50% no-repeat;
}

li:first-child{
	padding-left:0px;
	background:none;
}

nav a ,a.readmore{
	text-decoration: none;
	color: #958393;
	text-transform: uppercase;
}

nav a.home,nav a.about,nav a.contact,nav a.store{
	color:black;
}

nav a:hover,a.readmore:hover{
	color: rgb(0,0,87);
	transition: color 0.75s ease-out;
}

div#tableContainer{
    display: table;
	margin: 20px 0px;
    width: 798px;
	border-collapse: collapse;
	
}

div.tableRow{
	display: table-row;
	
}

section{
	display: table-cell;
	-webkit-box-sizing: border-box; /*div宽度固定，不随添加内外边距而改变*/
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

section a{
	color: rgb(125,125,125);
	font-size: 40%;
}

section#photoExhibition, section.htmlCss{
    width: 388px; /*为了和导航栏的中心对齐，但导航栏的第一个元素宽度窄，所以实际并不居中。因此这里只设置表格的左边栏宽度，使其在视觉上对齐*/
}

section#photoExhibition {
	height: 255px;
	vertical-align: bottom; 
}

img#exhibitionPhoto{
	display:block; /* 解决图片下方不明空白，先把图片块级显示，再在上一级vertical-align:bottom */
	cursor:pointer;
}

section#intro {
	padding: 60px 50px;
	background-color: rgb(248,248,248);
}

section.htmlCss{
	padding: 20px 20px 5px 5px;

}

article.htmlCss{
	background-color: rgb(248,248,248);
	padding: 10px;
	margin: 15px 0px;
	color: rgb(80,80,80);
}

article#hr textarea{
	width: 320px;
	height: 700px;
	color: rgb(40,40,40);
	font-family: Arial;
}

section.javascript{
	padding: 20px 5px 5px 20px;

}

section.javascript a#more{
	position: relative;
	left: 290px;
}

article#closure{
	background-color: rgb(80,80,80);
	padding: 10px;
	color: rgb(248,248,248);
	
}

article#closure p{
	color: rgb(248,248,248);
	font-size: 80%;
}

article#closure tr, article#closure td{
	color: rgb(252,174,151);
}

time {
	color: rgb(248,248,248);
	font-size: 60%;
}


footer {
	margin: 10px 0px 10px 0;
	padding: 8px 0px 9px 0px;
	border-top:1px solid #b7b6b6;
	border-bottom: 1px solid #b7b6b6;
	text-align: center;
}

/*以下是ABOUT页面样式*/
h2.about{
	display: block;
	width: 400px;
	float: left;
	line-height: 105px;
	margin-left: 150px;
}

/*以下是CONTACT页面样式*/
section#address {
	padding: 15px 30px;
	width: 315px;
}

section#address h1, section#email h1{
	   background: transparent url("../images/dash.png") left bottom no-repeat;
	   line-height: 1.4;
	   font-size: 16px;
	   letter-spacing: 1px;
}

section#address p{
	line-height: 1.4;
	color:rgb(80,80,80);
	letter-spacing: 1px;
}

section#email dd{
	margin:0px;
}

section#email label{
	display: block;
	width:110px;
	margin: 3px 0 4px 0;
	font-size:14px;
	line-height: 1.4;
	letter-spacing: 1px;
	
}

section#email input{
	width: 300px;
	padding: 6px;
	margin: 3px 0px 15px 0px;
	border-radius:5px;
	border: 1px solid #b7b6b6;
	color: rgb(80,80,80);
	font-family: Georgia, serif;
	letter-spacing: 1px;
}

section#email textarea{
	width: 420px;
	border-radius:5px;
	color: rgb(80,80,80);
	padding: 6px;
	margin: 3px 0px 5px 0px;
	border: 1px solid #b7b6b6;
}

section#email input#send{
	vertical-align: middle;
	cursor:pointer;
	padding: 6px 9px;
	width: 58px;
	height: 31px;
	color:#fff;
	background-color: #868384;
}

section#email input#send:hover{
	background-color: rgb(35,31,32);
	transition: background-color 0.25s ease-out;
	
}	

/*以下是nagging页面样式*/
.readmore{
	margin:0px;
}

h1.readmore {
	text-align: right;
	padding: 10px 5px 5px 5px;
	font-size: 180%;
	text-transform:none;
}

div.readmore {
	background: url("../images/graphpaper.jpg");
	width: 700px;
	height: 900px;
	float: right;
	margin: 20px 0;
	padding: 20px;
	-webkit-box-sizing: border-box; /*div宽度固定，不随添加内外边距而改变*/
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

div#searchBox{
	position: fixed;
	width: 230px;
	height: 160px;
	background: rgba(252,174,152,0.5);
	margin:20px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

label.readmore {
	display: block;
	margin: 3px 0 4px;
	font-size:14px;
	line-height: 1.4;
	letter-spacing: 1px;
}

input.readmore{
	width: 194px;
	padding: 6px;
	margin: 3px 0px 15px 0px;
	border-radius:5px;
	border: 1px solid #b7b6b6;
	color: rgb(80,80,80);
	font-family: Georgia, serif;
	letter-spacing: 1px;
}

input#go{
	float: right;
	vertical-align: middle;
	cursor:pointer;
	padding: 6px 9px;
	width: 58px;
	height: 31px;
	color:#fff;
	background-color: #868384;
}

a.readmore{
	display:block;
	position:fixed;
	margin: 20px 20px;
	text-decoration: underline;
}

.readmore p{
	color: rgb(80,80,80);
}

.readmore h3{
	font-weight: 2px;
	color: #FEB098;
}

.readmore textarea{
	width: 660px;
	color: rgb(80,80,80);
}